/* navigation section */

.nav-list{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
}
.navigation-main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.6rem;
   padding-right: 4rem;
   padding-left: 4rem;
   font-family: releway;
   font-weight: 400;
}

.fylo-logo{
    height: 3rem;
}
