/* navigation section */

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    color:gray;
    gap: 3rem;
    list-style: none;
    font-family: releway;
    font-size: 1.2rem;
    font-weight: 400;
    }
    .navigation-main-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.6rem;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }

.fylo-logo{
    height: 2.8rem;
}
